.pay {
    width: var(--default-layout-width);
    background-color: var(--white);
    margin: 0 auto;
}

.no_content {
    height: 25px;
    background-color: var(--background-home-page);
}

.content_pay {
    padding: 20px;
    border-bottom: 2.5px solid var(--primary);
    color: var(--primary);
    text-align: center;
}

// đơn hàng ordered

.ordered {
    background-color: var(--white);
}

// PHƯƠNG THỨC THANH TOÁN
.payment_method {
    border: 1px solid var(--background-home-page);
}

// tổng thanh toán
.total_payment {
    padding: 20px;
}

// mua ngay
.pay_now {
    border-radius: 5px;
    margin: 20px 0 20px 20px;
    width: 80%;
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 10px 3px 10px;

    &:hover {
        background-color: var(--hover);
    }
}

.text_pay {
    color: var(--white);
}

.text_payment {
    color: var(--primary);
    font-weight: 600;
    font-size: 2rem;
}

.selece_payment,
.text_payment,
.change_method_payment {
    padding: 13px 0;
    margin: 20px 0;
}

.selece_payment,
.text_payment {
    padding-left: 20px;
}

.change_method_payment {
    padding-left: 40px;
}
