.head_table,
.body_table {
    display: flex;
}
.table {
    min-height: 200px;
    max-height: 210px;
    overflow-y: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.td,
.customers,
.id_order,
.input_checkbox {
    border: 0.5px solid #dbdbdb;
    text-align: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.td {
    max-width: 150px;
    min-width: 150px;
}
.customers {
    min-width: 260px;
}
.id_order {
    width: 80px;
}
.input_checkbox {
    min-width: 50px;
    padding-top: 15px;
}
