.order_detail_page {
    width: var(--default-layout-width);
    background-color: var(--white);
    margin: 0 auto;
}

.no_content {
    height: 20px;
    background-color: var(--background-home-page);
}

.content_order_detail {
    padding: 20px;
    color: var(--primary);
    text-align: center;
    border-bottom: 2.5px solid var(--primary);
}
