.wrapper {
    margin: 0;
    padding: 0;
}

.header {
    height: 70px;
    width: 100%;
    background: #edecec;
    display: flex;
}

.main {
    background: #f1f5f9;
    max-width: var(--default-layout-width);
    margin: 0 auto;
}
