.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 119px);
    background: var(--background-header);
    background: var(--main-color);
    color: var(--white);
}

.inner {
    height: 100%;
    max-width: var(--default-layout-width);
}
.navbar_top {
    max-width: 1150px;
    height: 35px;
    margin: 0 auto;
}

.center {
    display: flex;
    height: 35px;
    align-items: center;
}

// navbar bottom

.action {
    display: flex;
}
.logo {
    width: 180px;
}

.shop_drawer,
.connect_fb,
.notification,
.support,
.register,
.login {
    margin: 0 20px; /* Khoảng cách 20px theo chiều ngang */
}

.quantity_notification {
    font-size: 13px;
    margin: 0;
    position: absolute;
    top: -5px;
    right: 62%;
    color: white;
    border-radius: 50%; /* Để tạo hình tròn */
    padding: 4px 12px;
}

.list_notifications {
    display: none;
    background-color: #fff; /* Thiết lập màu nền là #fff */
    padding: 10px; /* Thêm padding để tạo khoảng cách */
    border: 1px solid #ccc; /* Thêm viền để làm nổi bật */
    border-radius: 5px;
}

.notification:hover .list_notifications {
    display: block;
    position: absolute;
    z-index: 999;
}

.time {
    float: right;
    color: #8b8989;
}

.navbar__spacer {
    flex: 1;
}

.navbar_center {
    max-width: 1150px;
    height: 60px;
    padding-top: 8px;
    margin: 0 auto;
    display: flex;
}

.search {
    position: relative;
    display: flex;
    width: 70%;
    height: 46px;
    background-color: var(--white);
    border: 0;
    border-radius: 50px;
    padding-left: 16px;
    border: 1.5px solid var(--main-color);
    // border: 1.5px solid #f53d2d;

    &:focus-within {
        border-color: var(--main-color);
    }
}
.input_search {
    height: 100%;
    font-size: 1.6rem;
    background: transparent;
    flex: 1;
    border: 0;
}

.clear,
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}
.clear {
    background-color: var(--white);
    color: var(--main-color);
}

.btn_search {
    width: 52px;
    height: 100%;
    background: var(--white);
    border-radius: 50px;
    font-size: 1.8rem;
    color: var(--main-color);
}

// cart
.cart {
    display: flex;
    height: 46px;
    min-width: 100px;
}

.btn_cart {
    color: var(--white);
    background: transparent;

    margin: 10px 60px;
}

.icon_cart {
    flex: 1;
    height: 30px;
    color: var(--white);
}
.quantity_product {
    color: var(--white);
}
.center a[href] {
    color: var(--white);
}

li a[href] {
    color: var(--white);
}

// bottom navbar
.navbar_bottom {
    max-width: 780px;
    margin: 0 auto;
}

.category {
    display: flex;
}

.nav_item {
    margin: 0 18px;
}

.avatar {
    border-radius: 50%;
}

// dropdown
.dropdown_menu_opption {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 40px;
    margin-left: 110px;
    border-radius: 5px;
}

.dropdown_menu {
    color: black;
    margin: 0 auto;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    background-color: var(--white);
}
