.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 2rem;
    padding: 2rem;
}

.card_single {
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.card_flex {
    display: grid;
    grid-template-columns: 70% auto;
}

.card_head span {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.card_header small {
    font-weight: 600;
}

.card_info h2 {
    font-size: 3.5rem;
    font-weight: 600;
}
.chart_icon {
    font-size: 6rem;
    padding-top: 3rem;
}

.primary {
    color: var(--primary);
}
