.order_page {
    background-color: var(--white);
    width: var(--default-layout-width);
    margin: 0 auto;
}

.no_content {
    height: 20px;
    background-color: var(--background-home-page);
}

.table {
    padding: 20px;
}

.content_order {
    padding: 20px;
    border-bottom: 2.5px solid var(--primary);
    color: var(--primary);
    text-align: center;
}

.heading {
    display: flex;
}

.select,
.submit {
    padding: 10px;
    margin: 10px 0 0 10px;
}
.select select,
.submit button {
    padding: 5px;
    border-radius: 5px;
}

.submit button {
    background: rgb(250, 3, 52);
    color: #fff;
}
