@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;600&display=swap');

:root {
    --primary: #fe2c55;
    --default-layout-header-height: 119px;
    --default-layout-width: 1150px;
    // --background-header: linear-gradient(-180deg, #f53d2d, #f63);
    --background-header: linear-gradient(-180deg, rgb(29, 8, 222), #2073d1);
    // --background-header: linear-gradient(-180deg, rgb(5, 140, 34), #27c744);
    --white: #fff;
    --black: #333;
    --background-home-page: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

a[href] {
    color: #fff;
    text-decoration: none;
}

li {
    list-style-type: none;
}
